.modal-content-grid-settings-list-item {
    display: grid;
    grid-template-columns: 1fr 52px;
}

.modal-content-grid-settings-list-item-name {
    display: grid;
    align-items: center;

    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    text-overflow: hidden;
    border: none;
    padding: 0;
    border-radius: 7px;
    height: 40px;
    // border: none;
    background-color: #fff;
    border: 1px solid rgba(179, 172, 172, 0.537);

    /* overflow: hidden; */
}

.modal-content-grid-settings-list-item-name:hover {
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);

}

.modal-content-grid-settings-list-item-del-btn {
    height: 42px;
    width: 42px;

    margin-left: 10px;
    border-radius: 10px;
    // background-image: url("../img/plus-cros.svg");
    background-image: url("../img/close.svg");
    background-color: rgba(179, 182, 188, 0.582);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.modal-content-grid-settings-list-item-del-btn:hover {
    // background-color: rgba(250, 250, 250, 0.5);
    background-color: rgba(253, 5, 5, 0.528);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}