.modal-content-grid {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: auto auto auto auto;
    overflow-y: auto;
    height: 100%;
}

.modal-content-grid-settings-container {
    display: grid;
    grid-template-rows: 50px 150px;
}

.modal-content-grid-settings-note {
    grid-column-start: 1;
    grid-column-end: 3;
}

.modal-content-grid-settings-unit {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.modal-content-grid-settings-employee {
    grid-column-start: 3;
    grid-column-end: 5;
}

.modal-content-grid-settings-employee-list {
    display: grid;
    grid-template-rows: 50px;

    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.modal-content-grid-settings-title {
    display: grid;
    align-items: center;

    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
}

.modal-content-grid-settings-textarea {
    display: grid;

    padding: 10px;
}

.modal-content-grid-settings-textarea textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    line-height: 1;
    border: none;
    padding: 0;

    // border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    outline: none;
    resize: none;
    overflow: auto;
}

.modal-content-grid-settings-textarea textarea::-webkit-scrollbar {
    width: 2px;
    height: 0;
}

.modal-content-grid-settings-textarea textarea::-webkit-scrollbar-thumb {
    background-color: #343a40;
}

.modal-content-grid-settings-input {
    display: grid;
    align-items: start;

    padding: 10px;
}

.modal-content-grid-settings-input input {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    line-height: 1;

    height: 40px;
    border: none;
    padding: 0;
    border-radius: 3px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    // border: 1px solid #000;
    // border-radius: 0;
    outline: none;
}

.modal-content-grid-settings-list {
    display: grid;
    gap: 10px;

    align-content: start;

    padding: 10px;
}

.modal-content-grid-settings-employee .modal-content-grid-settings-input {
    grid-template-columns: 1fr 52px;
}

.plus-btn {
    height: 42px;
    width: 42px;

    margin-left: 10px;

    background-image: url("../img/plus-square.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.plus-btn:hover {
    background-color: rgba(19, 18, 18, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #dbd9d9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    // background-color: #404346;
    background-color: #dbd9d9;
    opacity: 0.3;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    // width: 12px;
    background-color: #595a5a;
    transition: 5ms;
}
